/* You can add global styles to this file, and also import other style files */

.leaflet-pane.leaflet-shadow-pane {
  display: none !important;
}

.leaflet-container {
  font-size: 2rem !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
